@import url("https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: urbanist;
  }
}

@layer components {
  .card-border {
    @apply rounded-xl bg-white/60 border-2 border-black shadow-lg;
  }
  .nav-line {
    @apply absolute w-full h-0.5 bg-red-500/80 scale-x-0 group-hover:scale-x-100 transition-transform;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 2s;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 200s linear infinite;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
